.NavLinksfilter {
    display: flex;
    width: 92vw;
    justify-content: space-between;
    margin-left: 4vw;
    font-family: 'Poppins', sans-serif;
    color:  rgb(41, 70, 135);
    font-weight: 300;
    font-size: 0.7em;
    padding-top: 6vw;
    }

a {
    text-decoration: none;
    color:  rgb(41, 70, 135);
}

.NavActive{
    color: rgb(228, 119, 125);
    }

@media (min-width: 790px) { 

    .NavLinksfilter {
        width: 790px;
        justify-content: space-evenly;
        margin-left: auto;
        margin-right: auto;
        font-size: 1rem;
        padding-top: 6px;
    }

    .NavLinksfilter a:hover{
        color: rgb(175, 217, 221);
      }
}