button{
    border-radius:2em;
    transition: all 0.8s;
    width: 37vw;
    background-color: rgb(249, 236, 115);
    font-family: 'Poppins', sans-serif;
    color:  rgb(41, 70, 135);
    font-weight: 700;
    font-size: 3vw;
    text-align: center;
    padding-top: 3vw;
    padding-bottom: 3vw;
}

button:hover{
    background-color: rgb(175, 217, 221);
}

@media (min-width: 790px) { 
    button{
    width: 200px;
    font-size: 1rem;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-left: auto;
    }
}