* {
    margin:  0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    border: 0;
    outline: 0;
    background: transparent;
  }

  html{
    max-width: 100%;
  }
 
  h1{
    font-family: 'Kodchasan', sans-serif;
    color:  rgb(228, 119, 125);
    font-weight: 700;
    font-size: 2em;
    text-align: center;
  }

  .App{
    margin-top: 15vw;
    margin-bottom: 15vw;
  }

  @media (min-width: 790px) { 
    
  .App{
    margin-top: 80px;
    margin-bottom: 80px;
  }

  img:hover{
    opacity: 60%;
  }


}